<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AppCenter" version="1.10.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Analytics" version="1.10.0" targetFramework="xamarinios10" />
  <package id="Microsoft.AppCenter.Crashes" version="1.10.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.4.0.1008975" targetFramework="xamarinios10" />
  <package id="Xamarin.iOS.iCarousel" version="1.8.4" targetFramework="xamarinios10" />
  <package id="Xamarin.TTTAttributedLabel" version="2.0.0.2" targetFramework="xamarinios10" />
</packages>